<html>

<head>
    <style>
        form {
            margin: 0 auto;
            width: 250px;
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label for="ID">ID:</label>
            <input type="text" id="name" name = "id"/>
        </div>

        <div>
            <label for="password">password:</label>
            <input type="text" id="name" name="password" />
        </div>
        <button>submit</button>
    </form>
</body>

</html>